body,
html { overflow-x: hidden; }

.bar {
  top: 0;
  left: 0;

  width: 100%;
  padding: 25px 0;

  color: black;

  font-family: Gelasio;
  font-size: 18rem;
}

@media only screen and (max-width: 992px) {
  .bar {
    font-size: 12rem;
  }
}

.bar_content {
  display: block; /* Important to give the content a width */

  width: 160%;
  transform: translateX(100%); /* Animation start out of the screen */

  /* Add the animation */
  animation: move 30s linear infinite /* infinite make reapeat the animation indefinitely */;
}

/* Create the animation */
@keyframes move {
  to { transform: translateX(-100%); }
}